{
    "server" : true,
    "data_dir" : {{consul_agent_data_dir | to_json}},
    "client_addr" : {{consul_agent_bind | to_json}},
    "bootstrap_expect" : {{groups['consul-agent-server'] | length | to_json}},
    "retry_join" : {{groups['consul-agent-server'] | to_json}},
    "datacenter" : {{consul_agent_dc | to_json}},
    "enable_syslog" : {{consul_agent_enable_syslog | to_json}},
    "encrypt" : {{consul_agent_encrypt | to_json}},
    "ports" : {
	"dns" : {{consul_agent_dns_port | to_json}},
	"http" : {{consul_agent_http_port | to_json}}
    },
{% if consul_agent_recursors is defined %}
   "recursor" : {{consul_agent_recursors | to_json}},
{% endif %}
   "ui" : {{consul_agent_enable_ui | to_json}}
}
